.mobile__nav {
    top: 4.143em;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--cb);
    overflow: auto;
    transform: translateX(100%);
    transition: 0.3s;
}

.mobilenav__inner {
    padding: 2.857em 2.222em;
    padding-top: 3.571em;
}

.mob__nav {
    li {
        margin-bottom: 1.111em;
        padding-left: 1.429em;
        position: relative;

        &.current-menu-item {
            a {
                &::after {
                    height: 0.143em;
                    border-radius: 0.143em;
                    content: "";
                    position: absolute;
                    background-color: var(--cy);
                    bottom: 0;
                    right: 0;
                    left: 0;
                }
            }
        }

        &::before {
            width: 0.357em;
            height: 0.357em;
            border-radius: 50%;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            content: "";
            position: absolute;
        }

        &:last-child {
            margin: 0;
        }

        a {
            font-size: 1.167em;
            line-height: 1.571em;
            color: #fff;
            display: inline-block;
            position: relative;
            font-family: var(--fb);
        }
    }
}

.mobnav__test {
    margin-top: 2.143em;
    border-radius: 1em;
    padding: 1.857em;
    padding-top: 1.286em;
    background-color: var(--cy);
}

.mobnav__testtitle {
    font-size: 1.5em;
    font-family: var(--fb);
}

.mobtest__nav {
    margin-top: 0.571em;

    li {
        margin-bottom: 0.571em;
        padding-left: 1.143em;
        position: relative;

        &:last-child {
            margin: 0;
        }

        &::before {
            width: 0.357em;
            height: 0.357em;
            border-radius: 50%;
            background-color: var(--ct);
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            content: "";
            position: absolute;
        }

        a {
            font-size: 1.071em;
            line-height: 1.765;
            color: var(--ct);
        }
    }
}

.mobnav__underlay {
    display: none;
}

@media screen and (max-width: 959px) {
    body.openedNav {
        overflow: hidden;
        .mobile__nav {
            transform: translateX(0);
        }
        .mobnav__underlay {
            opacity: 0.5;
            visibility: visible;
        }
    }
}

@media screen and (min-width: 460px) {
    .mobile__nav {
        width: 26.786em;
        left: auto;
    }
    .mobnav__underlay {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #000;
        z-index: 50;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }
}

@media screen and (min-width: 960px) {
    .mobile__nav {
        display: none;
    }
}
