.mobile__navigationcont, .mobile__navoverlay {
    top: 4.143em !important;
    height: auto !important;
    bottom: 0;
}

.mobile__navigationcont {
    transition: .3s transform !important;
}

.mobile__nav {
    height: 100%;
    background-color: var(--cb);
    overflow: auto;
}

.mobilenav__inner {
    padding: 2.857em 2.222em;
    padding-top: 3.571em;
}