.products__item {
  padding: 0.857em;
  border: 1px solid var(--cg);
  width: 50%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;

  * {
    color: transparent;
  }
}

.products__part {
  display: block;
  width: 100%;
}

.product__img {
  background-color: var(--cb);
  border-radius: 0.714em;
  padding-top: 108%;
  width: 100%;
  opacity: 0.5;
}

.products__name {
  font-size: 0.929em;
  margin-top: 1.077em;
  line-height: 1.462;
  display: block;
  color: var(--ct);
  opacity: 0.5;
  span {
    height: 1.325em;
    margin-bottom: 0.25rem;
    width: 100%;
    background-color: var(--cb);
    display: block;
    &:last-child {
      width: 33%;
      margin-bottom: 0;
    }
  }
}

.products__bottom {
  margin-top: 0.929em;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  opacity: 0.5;
}

.product__pricecont {
  line-height: 1.2;

  width: 3em;
  display: block;
  background-color: var(--cb);
}

.products__addcart {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-background-size: 1.429rem;
  background-size: 1.429rem;
  border-radius: 50%;
  background-color: var(--cb);
}

@media screen and (min-width: 760px) {
  .products__item {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 960px) {
  .products__item {
    padding: 1.286em;
    padding-top: 1.071em;
    border-radius: 0.714em;
    margin: 0;
    width: auto;
    border: 1px solid var(--cg) !important;
    border: none;
  }
  .products__name {
    font-size: 1.214em;
    margin-top: 1em;
    span {
      height: 1.625rem;
      margin-bottom: 0.28rem;
    }
  }
  .product__pricecont {
    font-size: 1.286em;
  }
  .products__addcart {
    width: 8.143rem;
    height: 3.071rem;
    border-radius: 3.071rem;
    background-image: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
