.section__fishka {
  padding-top: 5em;
  padding-bottom: 5em;
}

.fishka__content {
  margin-top: 2.143em;
  border-radius: 1em;
  padding: 2.143em 1em;
  background-color: var(--cb);
}

.fishka__bottom {
  padding-top: 2.857em;
  justify-content: center;
}


@media screen and (min-width: 460px) {
  .fishka__inner {
    width: 22.5em;
    margin: 0 auto;
  }
}


@media screen and (min-width: 960px) {
  .fishka__inner {
    margin: 0 -1.429em;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}


@media screen and (min-width: 960px) {
  .section__fishka {
    padding: 4.286em 0;
    padding-bottom: 5em;
  }
  .fishka__content {
    margin-top: 2.857em;
  }
  .fishka__inner {
    font-size: 1.3em;
  }
  .fishka__bottom {
    padding-top: 2.857em;
    justify-content: center;
    .button {
      height: 3.571em;
      border-radius: 3.571em;
      min-width: 11.429em;
      span {
        font-size: 1.143em;
      }
    }
  }
}
