.section__fishka {
  padding-top: 5em;
  padding-bottom: 5em;
}

.fishka__content {
  margin-top: 2.143em;
  border-radius: 1em;
  padding: 2.143em 1em;
  background-color: var(--cb);
}

.fishka__item {
  padding-left: 0.571em;
  margin-bottom: 2.143em;
  align-items: center;
  align-content: center;
  color: #fff;

  &.it2 {
    .fishka__icon {
      width: 4.286em;
      height: 6em;
    }

    .fishka__info {
      width: calc(100% - 4.286em);
      padding-left: 0.929em;
    }

    &:nth-child(2n) {
      .fishka__info {
        padding-right: 0.929em;
        padding-left: 0;
      }
    }
  }

  &.it3 {
    padding-left: 1.143em;

    &:nth-child(2n) {
      padding-right: 1.143em;
    }
  }

  &.it4 {
    .fishka__icon {
      width: 5.214em;
      padding: 0 !important;
    }

    .fishka__info {
      width: calc(100% - 5.214em);
      padding-left: 1em;
    }

    &:nth-child(2n) {
      .fishka__info {
        padding-right: 1em;
        padding-left: 0;
      }
    }
  }

  &.m1 {
    margin-bottom: 1.714em;
  }

  &.m2 {
    margin-bottom: 3.143em;
  }

  &.m3 {
    margin-bottom: 3.286em;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  &:nth-child(2n) {
    padding-right: 0.571em;
    padding-left: 0;
    justify-content: flex-end;
    text-align: right;

    .fishka__icon {
      order: 1;
    }

    .fishka__info {
      padding-right: 1.357em;
      padding-left: 0;
    }
  }
}

.fishka__icon {
  width: 3.571em;
  height: 3.571em;
  position: relative;
}

.fishka__info {
  width: calc(100% - 3.571em);
  padding-left: 1.357em;
}

.fishka__title {
  font-size: 1em;
  line-height: 1.5;
  font-family: var(--fm);
  display: inline-block;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  &.fh1 {
    &::before {
      width: 4.500em;
      height: 4.429em;
      right: -1.571em;
      transform: translateX(100%);
      top: 50%;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='64' height='62' viewBox='0 0 64 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5C48.7431 1.34192 60.9889 15.1684 62 59' stroke='white' stroke-width='0.4'/%3E%3Cpath d='M63.8151 58.2883L62.1146 61.9286L60.124 58.1697L63.8151 58.2883Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  &.fh2 {
    &::before {
      width: 6.643em;
      height: 5.500em;
      left: -0.857em;
      transform: translateX(-100%);
      top: 50%;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='94' height='78' viewBox='0 0 94 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.70144 74.0085L2.11024 77.6979L0.00842285 74L3.70144 74.0085Z' fill='white'/%3E%3Cpath d='M93 1.80844C23 -4.46883 2 26.3956 2 74' stroke='white' stroke-width='0.4'/%3E%3C/svg%3E%0A");
    }
  }

  &.fh3 {
    &::before {
      width: 3.857em;
      height: 5.786em;
      right: -1.143em;
      transform: translateX(100%);
      top: 50%;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='56' height='82' viewBox='0 0 56 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.8098 78.1186L53.1093 81.7589L51.1187 78L54.8098 78.1186Z' fill='white'/%3E%3Cpath d='M1 1.01139C49.0713 0.520651 60.0876 15.726 53.0772 79' stroke='white' stroke-width='0.4'/%3E%3C/svg%3E%0A");
    }
  }

  &.fh4 {
    &::before {
      width: 8.071em;
      height: 5.429em;
      left: -0.2em;
      top: 0.6em;
      transform: translateX(-100%);
      background-image: url("data:image/svg+xml,%0A%3Csvg width='114' height='77' viewBox='0 0 114 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.80977 73.1186L2.10926 76.7589L0.118652 73L3.80977 73.1186Z' fill='white'/%3E%3Cpath d='M113 1.80844C27.6154 -4.46883 2 26.3956 2 74' stroke='white' stroke-width='0.4'/%3E%3C/svg%3E%0A");
    }
  }
}

.fishka__text {
  font-size: 0.857em;
}

.fishka__bottom {
  padding-top: 2.857em;
  justify-content: center;
}


@media screen and (min-width: 460px) {
  .fishka__inner {
    width: 22.5em;
    margin: 0 auto;
  }
}


@media screen and (min-width: 960px) {
  .fishka__inner {
    margin: 0 -1.429em;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .fishka__item {
    padding: 0 !important;
    margin: 0 1.429em !important;
    display: block !important;
    text-align: center !important;

    &.it2 {
      .fishka__icon {
        img {
          object-fit: cover;
        }
      }
    }
  }
  .fishka__icon {
    height: 3.714em !important;
    display: inline-block;
  }
  .fishka__info {
    width: auto !important;
    padding: 0 !important;
    text-align: center !important;
  }
  .fishka__title {
    &::before {
      display: none;
    }
  }
}


@media screen and (min-width: 960px) {
  .section__fishka {
    padding: 4.286em 0;
    padding-bottom: 5em;
  }
  .fishka__content {
    margin-top: 2.857em;
  }
  .fishka__inner {
    font-size: 1.3em;
  }
  .fishka__item {
    position: relative;
    &:nth-child(2n) {
      .fishka__icon {
        &::after {
          background-image: url("data:image/svg+xml,%0A%3Csvg width='121' height='118' viewBox='0 0 121 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M115.537 57.4062L119.028 55.4159L118.482 59.6343L115.537 57.4062Z' fill='white'/%3E%3Cpath d='M0.770693 61.3733C52.9167 108.492 88.2578 96.4666 116.891 58.4364' stroke='white' stroke-width='0.4'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &:last-child {
      .fishka__icon {
        &::after {
          display: none;
        }
      }
    }
    .fishka__icon {
      &::after {
        width: 5.714em;
        height: 5.714em;
        top: -1.429em;
        right: -3.929em;
        transform: translateX(50%);
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: contain;
        background-size: contain;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='121' height='118' viewBox='0 0 121 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M115.537 61.2952L119.028 63.2855L118.482 59.0671L115.537 61.2952Z' fill='white'/%3E%3Cpath d='M0.770693 57.3281C52.9167 10.2091 88.2578 22.2348 116.891 60.2651' stroke='white' stroke-width='0.4'/%3E%3C/svg%3E%0A");
      }
    }
  }
  .fishka__bottom {
    padding-top: 2.857em;
    justify-content: center;
    .button {
      height: 3.571em;
      border-radius: 3.571em;
      min-width: 11.429em;
      span {
        font-size: 1.143em;
      }
    }
  }
}
