.free__del {
  bottom: -6.714em;
  padding: 1.714em;
  padding-right: 1em;
  padding-bottom: 1.429em;
  border-radius: 1em;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  background-color: var(--cy);
  color: #000;

  &.blue {
    background-color: var(--cg);
  }

  &.trans {
    padding: 0;
    background-color: transparent;
  }

  &.center {
    padding: 1.286em !important;

    .freedel__title {
      font-size: 1em;
      text-align: center;
      display: block;
      width: 100%;
    }
  }

  .freedel__title {
    font-size: 1.143em;
    line-height: 1.5;
    align-items: center;
    align-content: center;
    font-family: var(--fb);

    &.noIcon {
      padding: 0;
      &::before {
        display: none;
      }
    }

    &::before {
      width: 1.188em;
      height: 1.188em;
      margin-right: 0.688em;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: contain;
      background-size: contain;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.00714 0.078188C1.7277 0.377811 2.04267 0.746596 4.83132 3.38483L7.72776 6.12504L5.88204 8.19099C4.86696 9.32736 3.93464 10.3554 3.81012 10.4756C3.586 10.6921 3.57015 10.6808 2.10356 9.26581C0.575096 7.79114 0.304627 7.64239 0.0321903 8.12675C-0.0717774 8.31161 0.043232 8.47244 0.869616 9.29899L1.82752 10.2571L1.85354 13.6565L1.87956 17.056L4.33684 17.1146L6.79424 17.1732L7.08821 17.8311C7.57569 18.9217 8.24629 19.2547 9.05409 18.8067C9.35429 18.6403 9.40918 18.6403 9.64608 18.8067C9.98313 19.0435 10.5995 19.041 11.0323 18.801C11.3464 18.6268 11.3975 18.6268 11.6724 18.801C12.0828 19.0609 12.5132 19.0352 13.0307 18.7198C13.4232 18.4804 13.4987 18.4696 13.7691 18.6133C14.3699 18.9328 15.1955 18.3429 14.8224 17.8609C14.7314 17.7434 14.5791 17.7027 14.3855 17.7442C14.215 17.7808 14.0445 17.7476 13.9855 17.6665C13.929 17.5886 13.5982 16.8523 13.2505 16.0303C12.7139 14.7617 12.5812 14.5357 12.3733 14.5357C12.2385 14.5357 12.0669 14.615 11.9919 14.7119C11.8797 14.8568 11.9565 15.1311 12.426 16.2609L12.9966 17.6338L12.7492 17.8487C12.2774 18.2583 12.0907 18.0925 11.5919 16.8216C11.3389 16.1768 11.079 15.5571 11.0144 15.4442C10.8569 15.169 10.4966 15.1841 10.353 15.4721C10.2604 15.6574 10.3159 15.9105 10.6246 16.7102C10.838 17.2629 10.9872 17.7596 10.956 17.8136C10.8656 17.9705 10.2861 18.1535 10.155 18.0666C10.0893 18.0231 9.87162 17.5669 9.67123 17.0529C9.28695 16.0675 9.01757 15.8411 8.70676 16.2426C8.57776 16.4093 8.58979 16.5352 8.79095 17.1275C9.01845 17.7972 9.01932 17.8217 8.82145 17.9353C8.54234 18.0956 8.21393 18.0823 8.08755 17.9059C8.02994 17.8254 7.44921 16.4509 6.79697 14.8517C6.14485 13.2526 5.5768 11.9213 5.53449 11.8933C5.45797 11.8426 4.77666 12.0612 4.77666 12.1365C4.77666 12.1583 5.14563 13.0762 5.59659 14.1763C6.04755 15.2766 6.41653 16.2043 6.41653 16.2381C6.41653 16.2719 5.56784 16.2852 4.53068 16.2676L2.64483 16.2355L2.61542 13.6156L2.5859 10.9957L3.0138 11.3591C3.24907 11.5588 3.53845 11.7223 3.65696 11.7223C3.79449 11.7223 4.76868 10.7291 6.3553 8.971C8.24782 6.87398 8.82199 6.17006 8.7693 6.0111C8.7107 5.83433 7.8466 4.9963 3.87418 1.26367L3.4101 0.827598L5.9519 0.824081L8.49369 0.820564V2.46169V4.10282H10.3522H12.2107V2.46169V0.820564H15.1625H18.1143V8.55731V16.2941H16.827H15.5396L14.6826 14.3537C14.2113 13.2866 13.8438 12.3939 13.866 12.37C13.8883 12.3462 14.229 12.4095 14.6232 12.5106C15.4229 12.7158 15.9083 12.6622 16.4479 12.3093C16.895 12.0169 17.3405 11.0993 17.1734 10.8153C17.1105 10.7085 15.9784 9.99975 14.6574 9.24014L12.2555 7.85913L10.7406 7.62046C9.90737 7.48917 9.20649 7.40231 9.18298 7.42751C9.15948 7.45272 9.11258 7.6561 9.0788 7.87965L9.01725 8.28606L10.4774 8.49859L11.9374 8.71099L14.0692 9.93657C15.2417 10.6106 16.2257 11.1872 16.2557 11.2179C16.3746 11.339 15.7748 11.7223 15.4664 11.7223C15.2861 11.7223 14.7195 11.6045 14.2073 11.4605C13.3666 11.224 13.2597 11.1618 13.1081 10.8209C12.9271 10.414 12.7415 10.2846 12.4882 10.3888C12.1069 10.5457 12.2253 10.9341 13.5881 13.9982L14.9743 17.1146H16.8505C18.1638 17.1146 18.7658 17.0724 18.8577 16.974C19.0474 16.7705 19.0474 0.344168 18.8577 0.140668C18.758 0.0337605 16.7311 0 10.4033 0C5.82541 0 2.04715 0.035167 2.00714 0.078188ZM11.3361 1.9928V3.16503H10.3522H9.36829V1.9928V0.820564H10.3522H11.3361V1.9928Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  .freedel__text {
    margin-top: 0.571em;

    ul {
      padding-left: 1em;

      li {
        margin-bottom: 0.357em;
        list-style: disc;

        &:last-child {
          margin: 0;
        }
      }
    }

    & > * {
      margin-bottom: 0.357em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 460px) {
  .free__del {
    width: 30.714em;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
