.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 1200;
}

.header__content {
    height: 4.143em;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.header__part {
    align-items: center;
    align-content: center;
}

@media screen and (min-width: 960px) {
    .header__content {
        height: 5.9em;
    }
}
