.products__item {
  padding: 0.857em;
  border: 1px solid var(--cg);
  width: 50%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
}

.products__part {
  display: block;
  width: 100%;
}

.product__img {
  border-radius: 0.714em;
  padding-top: 108%;
  width: 100%;
  position: relative;
  overflow: hidden;

  a {
    display: block;
  }
}

.products__name {
  font-size: 0.929em;
  margin-top: 1.077em;
  line-height: 1.462;
  display: block;
  color: var(--ct);
}

.products__bottom {
  margin-top: 0.929em;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.product__pricecont {
  line-height: 1.2;

  .price {
    font-family: var(--fb);
  }

  .priceokd {
    font-size: 0.786em;
    text-decoration: line-through;
  }
}

.products__addcart {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-background-size: 1.429rem;
  background-size: 1.429rem;
  border-radius: 50%;
  background-color: var(--cb);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.26115 1.59009C-0.0460836 3.61124 0.057186 3.55869 0.0265135 3.74606C0.00901018 3.85338 0.3079 4.2429 0.988779 4.99977C1.53205 5.60372 2.00455 6.13848 2.03881 6.18822C2.07773 6.24469 1.73542 6.68869 1.12697 7.37083C0.591287 7.97152 0.116614 8.50421 0.0723555 8.55447C-0.137518 8.79255 0.0781899 8.97733 1.13056 9.46124L2.1745 9.9413L2.17592 11.6176C2.17717 12.9896 2.19959 13.3134 2.29944 13.4021C2.36662 13.4616 3.6512 14.0846 5.15415 14.7865C6.65718 15.4883 8.32983 16.2735 8.87135 16.5313C9.41279 16.7891 9.9203 17 9.99898 17C10.1247 17 17.6136 13.5357 17.7517 13.4137C17.7812 13.3876 17.8241 12.5959 17.8471 11.6543L17.8887 9.94234L18.9306 9.45259C19.7797 9.05346 19.9765 8.93025 19.9945 8.78686C20.0109 8.65707 19.7416 8.30406 18.9682 7.44157C18.2551 6.64648 17.9439 6.2444 17.9955 6.18504C18.0373 6.13707 18.5085 5.61163 19.0428 5.01737C19.9815 3.97312 20.1313 3.72256 19.9099 3.56623C19.6379 3.37413 12.3425 0 12.1992 0C12.0872 0 11.7233 0.35153 11.0513 1.1087C10.5102 1.71848 10.0455 2.21739 10.0187 2.21739C9.99198 2.21739 9.52523 1.71848 8.98146 1.1087C8.24999 0.288483 7.94643 0.000813071 7.81474 0.00303046C7.71689 0.00473046 6.11775 0.718952 4.26115 1.59009ZM8.57238 1.6997L9.42454 2.65215L8.98913 2.86886C8.74958 2.98808 7.39091 3.62617 5.9698 4.28696C4.5487 4.94774 3.22529 5.56565 3.02875 5.66004L2.6716 5.83167L1.84102 4.90095C1.38427 4.3891 1.01053 3.94792 1.01053 3.9205C1.01053 3.8757 7.57844 0.751104 7.67846 0.74837C7.70138 0.747704 8.10362 1.17581 8.57238 1.6997ZM15.7126 2.3253C17.5283 3.17737 19.0139 3.90246 19.0139 3.93654C19.0139 3.97068 18.64 4.4098 18.183 4.91233L17.3522 5.82605L14.0156 4.26707C12.1805 3.40961 10.679 2.67713 10.679 2.63929C10.679 2.54579 12.2906 0.743122 12.3578 0.761452C12.3871 0.769509 13.8967 1.47323 15.7126 2.3253ZM13.2534 4.70131C15.0464 5.53897 16.5125 6.24573 16.5113 6.27197C16.509 6.32082 10.246 9.25916 10.0631 9.29723C9.94389 9.32199 3.57102 6.34714 3.5601 6.26169C3.55601 6.22984 4.9967 5.52603 6.76162 4.69754C8.52654 3.86913 9.97565 3.18839 9.98198 3.18477C9.98823 3.18122 11.4603 3.86366 13.2534 4.70131ZM5.98172 8.2453C7.76306 9.08088 9.25343 9.79363 9.29377 9.82925C9.34978 9.8787 8.29058 11.1711 7.75564 11.706C7.72014 11.7415 6.51607 11.2214 5.08005 10.5501C3.64403 9.87885 2.16258 9.19375 1.78785 9.02767C1.41311 8.86158 1.08263 8.69151 1.05346 8.6496C1.00278 8.57687 2.57616 6.72609 2.68868 6.72609C2.71861 6.72609 4.20047 7.40971 5.98172 8.2453ZM18.2058 7.65103C18.6552 8.15926 18.9994 8.60902 18.9704 8.65041C18.9416 8.6918 18.6114 8.86173 18.2366 9.02796C17.8619 9.19427 16.3779 9.8807 14.9388 10.5535C12.7366 11.5831 12.3078 11.7595 12.23 11.668C12.1792 11.6082 11.8048 11.1844 11.398 10.7263C10.9772 10.2523 10.6897 9.86547 10.7312 9.82896C10.829 9.74285 17.1992 6.74449 17.3053 6.73466C17.3511 6.73037 17.7564 7.14274 18.2058 7.65103ZM5.00345 11.3001C6.03923 11.7831 7.08543 12.2698 7.32839 12.3815C7.64712 12.528 7.81407 12.5664 7.92817 12.5195C8.01511 12.4836 8.41143 12.0885 8.80892 11.6413C9.20642 11.1941 9.54598 10.8144 9.56357 10.7974C9.58115 10.7805 9.59549 11.9724 9.59549 13.4462V16.1258L9.07456 15.8714C8.78809 15.7315 7.2878 15.0258 5.74059 14.3031L2.92756 12.9892V11.7055C2.92756 10.7834 2.95473 10.4217 3.02391 10.4217C3.07692 10.4217 3.96768 10.817 5.00345 11.3001ZM17.0969 11.7072V12.9927L13.7838 14.5439L10.4707 16.095L10.4479 14.7736C10.4355 14.0468 10.4355 12.8556 10.4479 12.1265L10.4707 10.8007L11.2529 11.683C11.7314 12.2226 12.0931 12.5652 12.1842 12.5652C12.2662 12.5652 13.3583 12.0837 14.6109 11.4953C15.8636 10.9067 16.9355 10.4244 16.9927 10.4235C17.0722 10.4222 17.0969 10.7271 17.0969 11.7072Z' fill='white'/%3E%3C/svg%3E%0A");

  span {
    display: none;
  }

  &.products__var {
    width: 6.214rem;
    border-radius: 2.571rem;
    background-image: none;
    color: #fff;
    font-family: var(--fm);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    span {
      font-size: 0.857rem;
      display: block;
    }

    &::after {
      height: 0.714rem;
      width: 0.357rem;
      margin-left: 0.429rem;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: contain;
      background-size: contain;
      content: "";
      display: block;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='5' height='10' viewBox='0 0 5 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0858562 9.72277C0.201289 9.93521 0.312211 10 0.560417 10L0.759855 10L2.84145 7.66623C4.28772 6.04471 4.93834 5.28049 4.97316 5.16212C5.00896 5.04041 5.00895 4.94317 4.97311 4.82146C4.89687 4.56218 0.859853 0.0578165 0.662507 0.0117521C0.341174 -0.0631628 0.0416919 0.229609 0.0416919 0.61858C0.0416919 0.773625 0.211656 0.98011 1.90628 2.88396L3.7709 4.97875L1.9562 6.9982C0.958131 8.10888 0.108589 9.0955 0.0683764 9.19065C-0.0271586 9.41654 -0.0237185 9.52114 0.0858562 9.72277Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}

.products__outof {
  padding: 0 1em;
  height: 2.5em;
  background-color: var(--cr);
  border-radius: 3.071em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  span {
    font-size: 0.857em;
    color: #fff;
    font-family: var(--fm);
    display: block;
  }
}

@media screen and (min-width: 760px) {
  .products__item {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 960px) {
  .products__item {
    padding: 1.286em;
    padding-top: 1.071em;
    border-radius: 0.714em;
    margin: 0;
    border: 1px solid var(--cg) !important;
    width: 100%;
    border: none;
  }
  .products__name {
    font-size: 1.214em;
    margin-top: 1em;
  }
  .product__pricecont {
    font-size: 1.286em;
    .priceokd {
      font-size: 0.786em;
      text-decoration: line-through;
    }
  }
  .products__addcart {
    width: 8.143rem;
    height: 3.071rem;
    border-radius: 3.071rem;
    background-image: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    span {
      font-size: 1rem;
      color: #fff;
      font-family: var(--fm);
      display: block;
    }

    &.products__var {
      width: 8.143rem;
      border-radius: 3.071rem;
      span {
        font-size: 1rem;
        font-family: var(--fm);
      }

      &::after {
        height: 0.857rem;
        width: 0.429rem;
        margin-left: 0.5rem;
      }
    }

    &::after {
      height: 1.286rem;
      width: 1.5rem;
      margin-left: 0.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: contain;
      background-size: contain;
      content: "";
      display: block;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.26115 1.59009C-0.0460836 3.61124 0.057186 3.55869 0.0265135 3.74606C0.00901018 3.85338 0.3079 4.2429 0.988779 4.99977C1.53205 5.60372 2.00455 6.13848 2.03881 6.18822C2.07773 6.24469 1.73542 6.68869 1.12697 7.37083C0.591287 7.97152 0.116614 8.50421 0.0723555 8.55447C-0.137518 8.79255 0.0781899 8.97733 1.13056 9.46124L2.1745 9.9413L2.17592 11.6176C2.17717 12.9896 2.19959 13.3134 2.29944 13.4021C2.36662 13.4616 3.6512 14.0846 5.15415 14.7865C6.65718 15.4883 8.32983 16.2735 8.87135 16.5313C9.41279 16.7891 9.9203 17 9.99898 17C10.1247 17 17.6136 13.5357 17.7517 13.4137C17.7812 13.3876 17.8241 12.5959 17.8471 11.6543L17.8887 9.94234L18.9306 9.45259C19.7797 9.05346 19.9765 8.93025 19.9945 8.78686C20.0109 8.65707 19.7416 8.30406 18.9682 7.44157C18.2551 6.64648 17.9439 6.2444 17.9955 6.18504C18.0373 6.13707 18.5085 5.61163 19.0428 5.01737C19.9815 3.97312 20.1313 3.72256 19.9099 3.56623C19.6379 3.37413 12.3425 0 12.1992 0C12.0872 0 11.7233 0.35153 11.0513 1.1087C10.5102 1.71848 10.0455 2.21739 10.0187 2.21739C9.99198 2.21739 9.52523 1.71848 8.98146 1.1087C8.24999 0.288483 7.94643 0.000813071 7.81474 0.00303046C7.71689 0.00473046 6.11775 0.718952 4.26115 1.59009ZM8.57238 1.6997L9.42454 2.65215L8.98913 2.86886C8.74958 2.98808 7.39091 3.62617 5.9698 4.28696C4.5487 4.94774 3.22529 5.56565 3.02875 5.66004L2.6716 5.83167L1.84102 4.90095C1.38427 4.3891 1.01053 3.94792 1.01053 3.9205C1.01053 3.8757 7.57844 0.751104 7.67846 0.74837C7.70138 0.747704 8.10362 1.17581 8.57238 1.6997ZM15.7126 2.3253C17.5283 3.17737 19.0139 3.90246 19.0139 3.93654C19.0139 3.97068 18.64 4.4098 18.183 4.91233L17.3522 5.82605L14.0156 4.26707C12.1805 3.40961 10.679 2.67713 10.679 2.63929C10.679 2.54579 12.2906 0.743122 12.3578 0.761452C12.3871 0.769509 13.8967 1.47323 15.7126 2.3253ZM13.2534 4.70131C15.0464 5.53897 16.5125 6.24573 16.5113 6.27197C16.509 6.32082 10.246 9.25916 10.0631 9.29723C9.94389 9.32199 3.57102 6.34714 3.5601 6.26169C3.55601 6.22984 4.9967 5.52603 6.76162 4.69754C8.52654 3.86913 9.97565 3.18839 9.98198 3.18477C9.98823 3.18122 11.4603 3.86366 13.2534 4.70131ZM5.98172 8.2453C7.76306 9.08088 9.25343 9.79363 9.29377 9.82925C9.34978 9.8787 8.29058 11.1711 7.75564 11.706C7.72014 11.7415 6.51607 11.2214 5.08005 10.5501C3.64403 9.87885 2.16258 9.19375 1.78785 9.02767C1.41311 8.86158 1.08263 8.69151 1.05346 8.6496C1.00278 8.57687 2.57616 6.72609 2.68868 6.72609C2.71861 6.72609 4.20047 7.40971 5.98172 8.2453ZM18.2058 7.65103C18.6552 8.15926 18.9994 8.60902 18.9704 8.65041C18.9416 8.6918 18.6114 8.86173 18.2366 9.02796C17.8619 9.19427 16.3779 9.8807 14.9388 10.5535C12.7366 11.5831 12.3078 11.7595 12.23 11.668C12.1792 11.6082 11.8048 11.1844 11.398 10.7263C10.9772 10.2523 10.6897 9.86547 10.7312 9.82896C10.829 9.74285 17.1992 6.74449 17.3053 6.73466C17.3511 6.73037 17.7564 7.14274 18.2058 7.65103ZM5.00345 11.3001C6.03923 11.7831 7.08543 12.2698 7.32839 12.3815C7.64712 12.528 7.81407 12.5664 7.92817 12.5195C8.01511 12.4836 8.41143 12.0885 8.80892 11.6413C9.20642 11.1941 9.54598 10.8144 9.56357 10.7974C9.58115 10.7805 9.59549 11.9724 9.59549 13.4462V16.1258L9.07456 15.8714C8.78809 15.7315 7.2878 15.0258 5.74059 14.3031L2.92756 12.9892V11.7055C2.92756 10.7834 2.95473 10.4217 3.02391 10.4217C3.07692 10.4217 3.96768 10.817 5.00345 11.3001ZM17.0969 11.7072V12.9927L13.7838 14.5439L10.4707 16.095L10.4479 14.7736C10.4355 14.0468 10.4355 12.8556 10.4479 12.1265L10.4707 10.8007L11.2529 11.683C11.7314 12.2226 12.0931 12.5652 12.1842 12.5652C12.2662 12.5652 13.3583 12.0837 14.6109 11.4953C15.8636 10.9067 16.9355 10.4244 16.9927 10.4235C17.0722 10.4222 17.0969 10.7271 17.0969 11.7072Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
  .products__outof {
    height: 3.071rem;
    padding: 0 1rem;
    span {
      font-size: 1rem;
    }
  }
}
