.section__products {
  padding-top: 4.286em;
  padding-bottom: 5em;

  &.bg {
    background-color: var(--cg);
  }
}

.products__seccont {
  margin: 0 -1.143em;
  margin-top: 2.143em; 
  justify-content: space-between;
}

.products__list {
  padding-top: 0.143em;
  margin: 0 -1px;
}

.products__part {
  display: block;
  width: 100%;
}

.products__bottom {
  padding-top: 2.857em;
  justify-content: center;
}


@media screen and (min-width: 960px) {
  .products__seccont {
    margin: 0;
    margin-top: 2.857em;
  }
  .products__list {
    padding-top: 0;
    margin: 0 -0.786em;
    margin-bottom: -1.571em;
  }
  .products__bottom {
    padding-top: 2.857em;
    justify-content: center;
    .button {
      height: 3.571em;
      border-radius: 3.571em;
      min-width: 11.429em;
      span {
        font-size: 1.143em;
      }
    }
  }
}
