.logo__link {
    width: 2.571em;
    display: block;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.header__title {
    font-size: 0.857em;
    margin-left: 0.929em;
    max-width: 10em;
    line-height: 1.167em;
    color: var(--cb);
    font-family: var(--fb);
}

@media screen and (min-width: 960px) {
    .logo__link {
        width: 3.571em;
    }

    .header__title {
        font-size: 0.857em;
        margin-left: 1.143em;
        max-width: 10.929em;
        line-height: 1.143em;
    }
}